<Config Internals="" Key="" NomeEseguibile="" Snapshot="" VersioneEseguibile="">
    <Exports>
        <Export CartellaDiLavoro="" Compattato="" DataAggiornamento="" DataExport="" FileExportStructure="" Nome="" PathExport=""/>
        <Export CartellaDiLavoro="" Compattato="" DataAggiornamento="" DataExport="" FileExportStructure="" Nome="" PathExport=""/>
    </Exports>
</Config>